:root {
    --primary: #478635;
    --secondary: #406F33;
    --table-background: #fafafa;
    --table-header-background: #efefef;
    --table: #525252;
    --table-scroll: #949292;
    --hover: #f5f5f5;
}