.sidebar {
    height: 100%;
    width: 12%;
    background-color: var(--primary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebarList {
    width: 100%;
    padding: 0;
}

.sidebarList .row{
    margin-top: 5%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
}

.sidebarList .row:hover {
    background-color: var(--secondary);
}

.sidebarList #active {
    background-color: var(--secondary);
}

.row #icon {
    display: grid;
    place-items: center;
}

.row #title {
    color: white;
    font-family: var(--main-font), sans-serif;
    display: grid;
    place-items: center;
    text-align: center;
}