.sidebar {
    height: 100%;
    width: 12%;
    background-color: var(--primary);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.sidebarList {
    width: 100%;
    padding: 0;
}

.sidebarList .row{
    margin-top: 5%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
}

.sidebarList .row:hover {
    position: relative;
    background-color: var(--secondary);
    border-radius: 70px;
    margin: 5%;
}
.sidebarList .row:hover #icon,
.sidebarList .row:hover #title {
    z-index: 1;
    font-weight: bold;
}

.sidebarList .row.active {
    position: relative;
    background-color: var(--background);
    border-radius: 70px;
    margin: 5%;
}
.sidebarList .row.active #icon,
.sidebarList .row.active #title {
    z-index: 1;
    color: var(--primary);
    font-weight: bold;
}
.row #icon {
    display: grid;
    place-items: center;
}

.row #title {
    color: white;
    font-family: var(--main-font), sans-serif;
    display: grid;
    place-items: center;
    text-align: center;
}